{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User L8</title>
    <link href="{% static 'user/style.css' %}" rel="stylesheet">
</head>
<body>
    <h1>Welcome to L8 with intro to </h1>
    <p>coding is great, but understanding what is going behing is very important and great for day to day life issues</p>
    <p>so talking about programming is something very big and arranged in all directions in the world today</p>




    {%block content%}
    {% endblock %}

    <script src="{% static 'user/index.js' %}"></script>
    
</body>
</html>