{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User L8</title>
    <link href="{% static 'user/style.css' %}" rel="stylesheet">
    <style>
        div{
            display: none;
            
        }
    </style>
    <script>
        function showS(section){
            fetch(`/section/${section}`)
            .then(Response=> Response.text())
            .then(text=>{
                document.querySelector('#content').innerHTML = text
            })
        }
        function show(page){
            document.querySelectorAll('div').forEach(div=>{
                div.style.display = 'none'
            })
            document.querySelector(`#${page}`).style.display ="block";
        }
        document.addEventListener('DOMContentLoaded', function(){
            document.querySelectorAll('button').forEach(button=>{
                button.onclick = function(){
                    show(this.dataset.section)
                }
            })
        })
    </script>
</head>
<body>
    <h1>Hi there!</h1>
    <button data-section="1">page 1</button>
     <button data-section="2">page 2</button>
      <button data-section="3">page 3</button>
      <div id="content"></div>
    <!--<div id="page1"><h1>This is page1</h1></div>
    <div id="page2"><h1>This is page2</h1></div>
    <div id="page3"><h1>This is page3</h1></div>-->


    {%block content%}
    {% endblock %}

    <script src="{% static 'user/index.js' %}"></script>
    
</body>
</html>